.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F3F3F3;

  .authInner{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #FFF;

    .authTitle{
      font-family: inherit;
      font-weight: 500;
      font-size: 30px;
      line-height: 140%;
      color: #000000;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 576px) {
  .auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 155px);
    background-color: #FFF;
  }
}